body
    background-image: url("./../images/funky-lines.png")
    padding: $m 0

.content
    +box-shadow($color-black)
    background-color: $color-white
    border-radius: $m-xs
    margin: 0 auto
    max-width: 1000px
    overflow: hidden
    padding-bottom: $m-xl * 4
    position: relative

.article-header
    height: 420px
    display: flex
    flex-flow: column
    justify-content: flex-end
    text-align: center
    padding: $m $m-xl
    position: relative
    > *
        position: relative

.article-title
    color: $brand-accent-1
    margin-bottom: $m

.article-author
    color: $color-gray-dark
    margin-right: $m-xs
    text-align: right

.article__content
    padding: 0 $m-xl

    h3
        color: $brand-accent-2
        font-size: $font-size-base

    code
        background-color: $color-gray-light
        border-radius: $border-radius
        border: 1px solid $color-gray
        display: block
        word-break: break-all
        padding: $m-xxs $m-sm

    h2
        color: $brand-accent-2
        font-size: $font-size-lg
        margin: $m-sm 0

    ul
        list-style: disc
        margin-left: $m

    .check, .times, .question-mark
        fill: $brand-success
        height: 20px
        margin: 0 $m-xxs
        vertical-align: top  
        width: 20px

    .times
        fill: $brand-danger

    .question-mark
        fill: $brand-accent-1

    .small-section
        margin: $m-xs 0

    .sections-list > li
        margin-bottom: $m

    .no-bullets
        margin-left: $m-xs
        > li
            list-style: none

hr
    border: none
    border-top: 2px dashed $color-gray
    margin: $m-lg 0

.header__background
    fill: $brand-primary
    opacity: 1
    position: absolute
    width: 1000px
    top: -1px
    left: 0

    
.footer__background
    @extend .header__background
    bottom: 0
    top: auto

.footer__wave2
    @extend .footer__background
    fill: $brand-secondary
    opacity: .25

.header__wave2
    position: absolute
    top: 0
    left: 0
    transform: rotate(180deg)
    fill: $brand-secondary
    opacity: .25
    z-index: 0

.references-list
    display: flex
    justify-content: flex-end
    flex-wrap: wrap

.reference-icon
    margin-right: $m-xxs
    width: 20px
    height: 20px

.linkedin-icon
    fill: #0077B5

.cards
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    margin-top: $m

    .card
        +box-shadow($color-gray-dark)
        background: $color-white
        border-radius: $m-xs
        border: 1px solid $color-gray
        flex: 1 0 28% 
        margin: $m-sm
        min-width: 200px
        overflow: hidden

        &__preview
            background-color: $color-gray
            border: 0
            border-bottom: 2px solid $brand-accent-1
            height: 250px
            width: 100%

        &__caption
            text-align: center
            padding: $m-sm

@media (max-width: 800px)
    .article__content, .article-header
        padding: 0 $m