@clockFgColor: #DBDBDB;
@CoolBlackBG: #091D37;
@CoolBlueFG: #157CCD;
@facebook-color: #3b5998;
@youtube-color: #cc181e;
@music-color: #1fa67a;
@lowcy-color: #0287c7;
@github-color: #24292e;
@trello-color: #026AA7;

*{
    margin: 0;
    padding: 0;
    &:focus{
        outline: none;
    }
}
body{
    main{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        background: url("background.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;   
        #clock{
            color: @clockFgColor;
            font-family: 'Roboto', cursive;
            font-weight: 100;
            font-size: 80px;
            margin-top:50px;
            padding: 5px 25px;
            border-radius: 15px;
            text-shadow: 1px 0px 1px black, -1px 0px 1px black, 0px 1px 1px black, 0px -1px 1px black;
           
            background: @CoolBlackBG;
            border-radius: 15px;
            border:1px solid @CoolBlueFG;

            opacity: 0.7;

            transition-duration: 0.5s;
            &:hover{
                transform: scale(1.05);
                transition-duration: border 0.5s;
                opacity: 1;
            }
            &:after{
                line-height: 50px;
                vertical-align: text-top; 
                margin-left: 10px;
                font-size: 35px;
                content: attr(data-content);
            }
        }
        #date{
            #clock;
            margin-top: 15px;
            font-size: 40px;
            &:after{
                content: none;
            }
        }
        #search-bar{
            margin-top:50px;
            float: left;
            opacity: 0.75;
            transition: 0.5s;
            &:hover{
                transform: scale(1.05);
                transition-duration: border 0.5s;
                opacity: 1;
            }
            #search-box{
                float: left;
                background-color: @CoolBlackBG;
                border:3px solid #0F325D;
                border-radius: 10px 0px 0px 10px;
                height: 45px;
                color: @clockFgColor;
                font-size: 25px;
                box-sizing: border-box;
                padding-left: 10px;
            }
            #search-button{
                float: left;
                width:45px;
                height: 45px;
                background-color: @CoolBlackBG;
                border:3px solid #0F325D;
                border-left: none;
                border-radius: 0px 10px 10px 0px;
                box-sizing: border-box;
                &:hover{
                    cursor: pointer;
                }
                img{
                    height: 100%;
                    width: 100%;
                }
            }
        }
        #shortcuts{
            display: flex;
            position: absolute;
            flex-direction: column;
            flex-wrap: wrap;
            top: 0;
            left: 0;
            max-height: 90vh;
            a{
                padding: 0;
                border: 0;
                width: 60px;
                height: 60px;
                margin: 10px;
                text-decoration: none;
                .fa{
                    font-size: 2.5em;
                    display:flex;
                    background: @CoolBlackBG;
                    color:white;
                    opacity:0.5;
                    width: 60px;
                    height: 60px;
                    align-items: center;
                    justify-content: center;
                    transition-duration: 0.5s; 
                    border-radius: 15px;
                    &:hover{
                        cursor: pointer;
                        transition-duration: border 0.5s;
                        opacity: 1;
                        text-shadow: 2px 2px 2px black;
                    }
                }
                .fa-facebook{
                    &:hover{
                        background: @facebook-color;
                    }
                }
                .fa-instagram{
                    &:hover{
                        background: -webkit-radial-gradient(50px 220px, #ffda75 18%,#ff3a49 43%,#ff3a49 50%,#e518a1 70%,#6634e1 100%);
                    }
                }
                .fa-youtube{
                    &:hover{
                        background: @youtube-color;
                    }
                }
                .fa-music{
                    &:hover{
                        background: @music-color;
                        text-shadow: 2px 2px 5px black;
                    }
                }
                .fa-gamepad{
                    &:hover{
                        background: @lowcy-color;
                        text-shadow: 2px 2px 5px black;
                    }
                }
                .fa-envelope-o{
                    &:hover{
                        background: white;
                        color:red;
                    }
                }
                .fa-briefcase{
                    &:hover{
                        background: #0e57b3; /* Old browsers */
                        background: -moz-linear-gradient(left, #0e57b3 0%, #00349e 100%); /* FF3.6-15 */
                        background: -webkit-linear-gradient(left, #0e57b3 0%,#00349e 100%); /* Chrome10-25,Safari5.1-6 */
                        background: linear-gradient(to right, #0e57b3 0%,#00349e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */ 
                    }
                }
                .fa-github{
                    &:hover{
                        background: @github-color;
                    }
                }
                .fa-trello{
                    &:hover{
                        background: @trello-color;
                    }
                }
            }
        }
    }
}
