* {
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}
body main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  background: url(background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body main #clock {
  color: #DBDBDB;
  font-family: 'Roboto', cursive;
  font-weight: 100;
  font-size: 80px;
  margin-top: 50px;
  padding: 5px 25px;
  text-shadow: 1px 0px 1px black, -1px 0px 1px black, 0px 1px 1px black, 0px -1px 1px black;
  background: #091D37;
  border-radius: 15px;
  border: 1px solid #157CCD;
  opacity: 0.7;
  transition-duration: 0.5s;
}
body main #clock:hover {
  transform: scale(1.05);
  transition-duration: border 0.5s;
  opacity: 1;
}
body main #clock:after {
  line-height: 50px;
  vertical-align: text-top;
  margin-left: 10px;
  font-size: 35px;
  content: attr(data-content);
}
body main #date {
  color: #DBDBDB;
  font-family: 'Roboto', cursive;
  font-weight: 100;
  font-size: 80px;
  margin-top: 50px;
  padding: 5px 25px;
  text-shadow: 1px 0px 1px black, -1px 0px 1px black, 0px 1px 1px black, 0px -1px 1px black;
  background: #091D37;
  border-radius: 15px;
  border: 1px solid #157CCD;
  opacity: 0.7;
  transition-duration: 0.5s;
  margin-top: 15px;
  font-size: 40px;
}
body main #date:hover {
  transform: scale(1.05);
  transition-duration: border 0.5s;
  opacity: 1;
}
body main #date:after {
  line-height: 50px;
  vertical-align: text-top;
  margin-left: 10px;
  font-size: 35px;
  content: attr(data-content);
}
body main #date:after {
  content: none;
}
body main #search-bar {
  margin-top: 50px;
  float: left;
  opacity: 0.75;
  transition: 0.5s;
}
body main #search-bar:hover {
  transform: scale(1.05);
  transition-duration: border 0.5s;
  opacity: 1;
}
body main #search-bar #search-box {
  float: left;
  background-color: #091D37;
  border: 3px solid #0F325D;
  border-radius: 10px 0px 0px 10px;
  height: 45px;
  color: #DBDBDB;
  font-size: 25px;
  box-sizing: border-box;
  padding-left: 10px;
}
body main #search-bar #search-button {
  float: left;
  width: 45px;
  height: 45px;
  background-color: #091D37;
  border: 3px solid #0F325D;
  border-left: none;
  border-radius: 0px 10px 10px 0px;
  box-sizing: border-box;
}
body main #search-bar #search-button:hover {
  cursor: pointer;
}
body main #search-bar #search-button img {
  height: 100%;
  width: 100%;
}
