/* Theme Colors */
/* Fonts */
* {
  margin: 0;
  padding: 0;
}
html {
  background: url("background.png");
}
body {
  background: #3A3939;
  margin: 50px auto;
  width: 210mm;
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.75);
}
.fa {
  margin-right: 5px;
}
.left-section {
  float: left;
  width: 50%;
}
.right-section {
  float: left;
  width: 50%;
}
.header {
  background: #0096FF;
  height: 250px;
  color: #3A3939;
  font-family: 'Roboto', cursive;
}
.header__title {
  box-sizing: border-box;
  padding: 45px 0 0 70px;
  font-size: 55px;
}
.header__title::after {
  content: ",";
  color: #DF1E83;
}
.header__name {
  box-sizing: border-box;
  padding: 10px 0 0 70px;
  font-size: 30px;
  font-weight: 300;
}
.header__profession {
  box-sizing: border-box;
  padding: 10px 0 0 70px;
  font-size: 30px;
  font-weight: 300;
  font-size: 17px;
  padding: 5px 0 0 70px;
}
.header__email {
  padding: 25px 0 5px 80px;
  font-size: 12px;
}
.header__phone {
  padding: 5px 0 5px 80px;
  font-size: 12px;
}
.header__site {
  padding: 5px 0 5px 80px;
  font-size: 12px;
  text-decoration: none;
}
.header__site:visited {
  color: #3A3939;
}
.header__site:hover {
  color: #DADADA;
}
.header__photo {
  padding: 18% 0 0 50%;
  color: #0078cc;
}
.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 210mm 0 0;
  border-color: #0096FF transparent transparent transparent;
}
.main-section {
  padding: 5% 0 0 0;
  box-sizing: border-box;
  float: left;
  width: 50%;
  color: white;
  font-family: 'Roboto', cursive;
  font-size: 20px;
}
.main-section:first-child {
  padding-left: 10%;
  padding-right: 2%;
}
.main-section__title {
  font-weight: 300;
}
.details {
  padding: 5% 0 10% 0;
}
.details__paragraph {
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 5px;
}
.details__paragraph--timespan {
  color: #A7A7A7;
  margin-left: -30px;
}
.details__paragraph--company {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 2px;
}
.details__paragraph--job {
  color: #DF1E83;
  font-weight: 500;
}
.details__paragraph--description {
  font-size: 14px;
  font-weight: 300;
  color: #A7A7A7;
}
.skill {
  display: flex;
  height: auto;
  padding: 12% 0 0 0;
}
.skill-left {
  float: left;
  width: 15%;
}
.skill-right {
  float: left;
  width: 85%;
}
.skill__icon {
  width: 100%;
}
.skill__title {
  font-size: 20px;
  padding: 0 0 0 5%;
  width: 85%;
  font-weight: 500;
}
.skill__tags {
  padding: 0 0 0 5%;
  width: 85%;
  color: #DF1E83;
  font-weight: 500;
  font-size: 17px;
}
.skill__description {
  width: 85%;
  font-size: 14px;
  color: #A7A7A7;
  font-weight: 300;
  padding: 0 5% 0 5%;
}
.footer {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 2% 5% 2% 5%;
  margin-top: 50px;
  clear: both;
  font-family: 'Roboto', cursive;
  color: #A7A7A7;
  font-size: 12px;
  text-align: center;
  border-top: 1px solid #0096FF;
}
.flat-icons {
  float: right;
  clear: both;
  color: #0096FF;
  text-decoration: none;
  font-size: 12px;
  font-family: 'Roboto', cursive;
  margin-right: 45px;
  text-align: right;
}
