/* Theme Colors */
@ThemeBgColor: #0096FF;
@ThemeColor: #DF1E83;
@DarkBgColor: #3A3939;
@FontMainColor: white;
@FontLighterColor: #DADADA;
@FontGrayColor: #A7A7A7;

/* Fonts */
@FontFamilyMain: 'Roboto', cursive; 

/* Animations */
.EaseIn(@delay, @duration){
    opacity: 0;
    animation-name: EaseIn;
    animation-delay: @delay;
    animation-duration: @duration;
    animation-fill-mode: forwards;    
}

.EaseInTop(@delay, @duration){
    opacity: 0;
    animation-name: EaseInTop;
    animation-delay: @delay;
    animation-duration: @duration;
    animation-fill-mode: forwards;    
}

@keyframes EaseIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes EaseInTop{
    0%{
        margin-top:-25px;
        opacity: 0;
    }
    100%{
        margin-top: 0px;
        opacity: 1;
    }
}

*{
    margin: 0;
    padding: 0;
}
@media screen and (min-width: 225mm) {

    html{
        background: url("background.png");
    }
    body{
        background: @DarkBgColor;
        margin: 50px auto;
        //height: 297mm;
        width: 210mm;
        -webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
        .EaseIn(0.3s, 1s);
    }
    .fa{
        margin-right: 5px;
    }
    .left-section{
        float: left;
        width: 50%;
    }
    .right-section{
        .left-section;
    }
    .header{
        background: @ThemeBgColor;
        height: 250px;
        color:@DarkBgColor;
        font-family: @FontFamilyMain;
    }
    .header__title{
        box-sizing: border-box;
        padding: 45px 0 0 70px;
        font-size: 55px;
        .EaseInTop(0.75s, 1s);
        &::after{
            content: ",";
            color: @ThemeColor;
        }
    }
    .header__name{
        box-sizing: border-box;
        padding: 10px 0 0 70px;
        font-size: 30px;
        font-weight: 300;
        .EaseInTop(1s, 1s);
    }
    .header__profession{
        .header__name;
        font-size: 17px;
        padding: 5px 0 0 70px;
        .EaseInTop(1.4s, 1s);
    }
    .header__email{
        padding: 25px 0 5px 80px;
        font-size: 12px;
        .EaseInTop(1.8s, 1s);
    }
    .header__phone{
        padding: 5px 0 5px 80px;
        font-size: 12px;
        .EaseInTop(1.8s, 1s);
    }
    .header__site{
        .header__phone;
        z-index: 2;
        text-decoration: none;
        &:visited{
            color: @DarkBgColor;
        }
        &:hover{
            color:@FontLighterColor;
        }
    }
    .header__photo{
        padding: 18% 0 0 50%;
        color:  darken(@ThemeBgColor,10%);
        .EaseInTop(2s, 1s);
    }

    .triangle{
        width: 0;
        height: 0;
        z-index: 0;
        border-style: solid;
        border-width: 100px 210mm 0 0;
        border-color: @ThemeBgColor transparent transparent transparent;
    }

    .main-section{
        padding: 5% 0 0 0;
        box-sizing: border-box;
        float: left;
        width: 50%;
        color: @FontMainColor;
        font-family: @FontFamilyMain;
        font-size: 20px;
        .EaseInTop(2s, 1s);
        &:first-child{
            padding-left: 10%;
            padding-right: 2%;
        }
    }
    .main-section__title{
        font-weight: 300;
    }
    .details{
        padding: 5% 0 10% 0;
    }
    .details__paragraph{
        font-size: 17px;
        font-weight: 300;
        margin-bottom: 5px;
    }
    .details__paragraph--timespan{
        color:@FontGrayColor;
        margin-left: -30px;
    }
    .details__paragraph--company{
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 2px;
    }
    .details__paragraph--job{
        color:@ThemeColor;
        font-weight: 500;
    }
    .details__paragraph--description{
        font-size: 14px;
        font-weight: 300;
        color:@FontGrayColor;
    }

    .skill{
        display: flex;
        height: auto;
        padding: 12% 0 0 0;
    }
    .skill-left{
        float: left;
        width: 15%;
    }
    .skill-right{
        float: left;
        width:85%;
    }
    .skill__icon{
        width:100%;
    }
    .skill__title{
        font-size: 20px;
        padding: 0 0 0 5%;
        width: 85%;
        font-weight: 500;
    }
    .skill__tags{
        padding: 0 0 0 5%;
        width: 85%;
        color:@ThemeColor;
        font-weight: 500;
        font-size: 17px; 
    }
    .skill__description{
        width: 85%;
        font-size: 14px;
        color:@FontGrayColor;
        font-weight: 300;
        padding: 0 5% 0 5%;
    }

    .footer{
        box-sizing: border-box;
        display: block;
        width: 210mm;
        padding: 2% 5% 2% 5%;
        margin-top: 50px;
        clear: both;
        font-family: @FontFamilyMain;
        color: @FontGrayColor;
        //font-size: 12px;
        text-align: center;
        border-top: 1px solid @ThemeBgColor;
        .footer-text{
            height: 30px;
            font-size: 12px;   
        }
    }
    .flat-icons{
        float:right;
        clear: both;
        color: @ThemeBgColor;
        text-decoration: none;
        font-size: 12px;
        font-family: @FontFamilyMain;
        margin-right: 45px;
        text-align: right;
    }
}

@media screen and (max-width: 225mm) {
    body{
        background: @DarkBgColor;
        width: 100vw;
    }
    .fa{
        margin-right: 5px;
    }
    .left-section{
        float: left;
        width: 100vw;
    }
    .right-section{
        display: none;
        .left-section;
    }
    .header{
        background: @ThemeBgColor;
        height: 60vw;
        min-height: 240px;
        max-height: 420px;
        color:@DarkBgColor;
        font-family: @FontFamilyMain;
    }
    .header__title{
        display: flex;
        box-sizing: border-box;
        padding: 25px 0 0 10vw;
        font-size: 12vw;
        &::after{
            content: ",";
            color: @ThemeColor;
        }
    }
    .header__name{
        display: flex;
        box-sizing: border-box;
        padding: 10px 0 0 10vw;
        font-size: 7vw;
        font-weight: 300;
    }
    .header__profession{
        .header__name;
        font-size: 4vw;
        padding: 5px 0 0 10vw;
    }
    .header__email{
        padding: 25px 0 0 12vw;
        font-size: 3vw;
    }
    .header__phone{
        padding: 1vw 0 1vw 12vw;
        font-size: 3vw;
    }
    .header__site{
        .header__phone;
        text-decoration: none;
        color: @DarkBgColor;
        &:visited{
            color: @DarkBgColor;
        }
        &:hover{
            color: @FontLighterColor;
        }
    }

    .triangle{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 15vw 100vw 0 0;
        border-color: @ThemeBgColor transparent transparent transparent;
    }

    .main-section{
        padding: 5% 0 5% 0;
        box-sizing: border-box;
        float: left;
        width: 100vw;
        color: @FontMainColor;
        font-family: @FontFamilyMain;
        font-size: 20px;
        padding-left: 10%;
        padding-right: 10%;
    }
    .main-section__title{
        font-weight: 300;
        font-size: 6vw;
        text-align: center;
    }
    .details{
        padding: 5vw 0 2vw 0;
    }
    .details__paragraph{
        font-size: 3vw;
        font-weight: 300;
        margin-bottom: 5px;
    }
    .details__paragraph--timespan{
        color:@FontGrayColor;
        margin-left: -5vw;
    }
    .details__paragraph--company{
        font-size: 3vw;
        font-weight: 500;
        margin-bottom: 2px;
    }
    .details__paragraph--job{
        color:@ThemeColor;
        font-weight: 500;
    }
    .details__paragraph--description{
        font-size: 2.5vw;
        font-weight: 300;
        color:@FontGrayColor;
    }

    .skill{
        display: flex;
        height: auto;
        padding: 5vw 0 2.5vw 0;
    }
    .skill-left{
        float: left;
        width: 15%;
    }
    .skill-right{
        float: left;
        width: 85%;
    }
    .skill__icon{
        width: 100%;
    }
    .skill__title{
        font-size: 3vw;
        padding: 0 0 0 5%;
        width: 85%;
        font-weight: 500;
    }
    .skill__tags{
        padding: 0 0 0 5%;
        width: 85%;
        color:@ThemeColor;
        font-weight: 500;
        font-size: 3vw; 
    }
    .skill__description{
        width: 85%;
        font-size: 2.5vw;
        color:@FontGrayColor;
        font-weight: 300;
        padding: 0 5% 0 5%;
    }

    .footer{
        box-sizing: border-box;
        display: block;
        width: 100%;
        padding: 2% 5% 2% 5%;
        margin-top: 50px;
        clear: both;
        font-family: @FontFamilyMain;
        color: @FontGrayColor;
        //font-size: 12px;
        text-align: center;
        border-top: 1px solid @ThemeBgColor;
        .footer-text{
            font-size: 2vw;    
        }
    }
    .flat-icons{
        float:right;
        clear: both;
        color: @ThemeBgColor;
        text-decoration: none;
        font-size: 12px;
        font-family: @FontFamilyMain;
        margin-right: 45px;
        text-align: right;
    }
}
    
