* {
  margin: 0;
  padding: 0;
}
html {
  background-color: #d4d6d2;
  overflow: hidden;
}
body {
  margin-top: 10vh;
  height: 80vh;
  width: 70vw;
  margin-left: 15vw;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.45);
  background: #E1E2DF;
  overflow: hidden;
}
.inprogress {
  width: 100vw;
  height: 60vh;
  position: fixed;
  left: 0;
  top: 0;
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  text-align: center;
  background: #bbbeb7;
}
.inprogress p {
  font-size: 50px;
}
.rightside {
  overflow: hidden;
}
.rightside img {
  height: 90vh;
  float: right;
  margin-right: -3px;
  margin-top: -15px;
  opacity: 0.8;
  overflow: hidden;
}
