@themeBgColor1: #03A9F4;
@themeBgColor2: white;
@themeFgColor1: #424242;
@themeFgColor2: white;
@cellBgColor1: #061324;
@cellBgColor2: #0D96F5;

*{
    margin: 0;
    padding: 0;
}
nav{
    top:0;
    left:0;
    position: fixed;
    background: @themeFgColor2;
    width:100vw;
    height: 6vh;
    max-height: 150px;
    min-height: 50px;
    -webkit-box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 14px 0px rgba(0,0,0,0.75);
    ul{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 70vw;
        li{
            display: flex;
            width: 25%;
            height: 50px;
            float: left;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            background: @themeBgColor2;
            color:@themeFgColor1;
            outline: none;
            &:hover{
                background: @themeBgColor1;
                cursor:pointer;
            } 
            a{
                display: flex;
                font-family: 'Artifika', serif;
                font-size: 17px;
                width: 100%;
                height: 100%;
                font-style: oblique; 
                justify-content: center;
                align-items: center;
                border:none;
                text-decoration: none;
                &:visited{
                    text-decoration: none;
                    color: inherit;
                }
                &:hover{
                    color: @themeFgColor2;
                }
                
            }
        }
    }
}

main{
    font-family: 'Lemonada', cursive;
    div{
        max-width:100vw;
        height: 100vh;
        -webkit-box-shadow: inset 0px 6px 5px -2px rgba(0,0,0,0.75);
        -moz-box-shadow: inset 0px 5px 6px -2px rgba(0,0,0,0.75);
        box-shadow: inset 0px 5px 6px -2px rgba(0,0,0,0.75);
        &:nth-child(even){
            background: white;
        }
    }
    #logo-section{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background: url(pexels-photo-298724.jpeg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        h1{
            display: block;
            color:white;
            font-size:80px;
            text-shadow: 4px 4px black;
            border-bottom:4px solid @cellBgColor2;
            padding: 0px 20px;
        }   
        button{
            display: block;
            border-radius: 15px;
            border: none;
            background: @cellBgColor2;
            font-family:'Lemonada', cursive;
            color: @themeFgColor2;
            height: 50px;
            width: 140px;
            margin-top: 45px;
            text-transform: uppercase;
            &:hover{
                color: @cellBgColor2;  
                background: @themeBgColor2;  
                cursor: pointer;
            }
        } 
    }
    #info-section{
        height: auto;
        padding: 30px 10px;
        background-color: @themeBgColor2;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        .cell{
            display: flex;
            justify-content: center;
            align-items: center;
            -webkit-box-shadow: 3px 8px 10px 4px rgba(0,0,0,0.75);
            -moz-box-shadow: 3px 8px 10px 4px rgba(0,0,0,0.75);
            box-shadow: 0.5px 0.5px 3px 0.5px rgba(0,0,0,0.75);
            background: @themeBgColor2;
            height: 10vh;
            margin:0px 15px;
            text-align: center;
            border-radius: 7px;
            padding: 0px 50px;
            p{
                font-size: @themeFgColor1;
            }
            &:nth-child(odd){
                background-color: @cellBgColor1;
                color: @themeFgColor2;
            }
            &:nth-child(even){
                background-color: @cellBgColor2;
                color: @themeFgColor2;
            }
        } 
    }
    #location-section{
         background: url(pexels-photo-311065.jpeg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    #contact-section{
        background-color: #524F4E;
    }
}