* {
  margin: 0;
  padding: 0;
}
@keyframes flow {
  0% {
    transform: skewY(1deg);
  }
  50% {
    transform: skewY(-1deg);
  }
  100% {
    transform: skewY(1deg);
  }
}
@keyframes chicky {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.95);
    opacity: 0.75;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.color1 {
  background: rgba(0, 114, 255, 0.95);
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(0, 198, 255, 0.95) 0%, rgba(0, 114, 255, 0.95) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 198, 255, 0.95) 0% rgba(0, 114, 255, 0.95) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 198, 255, 0.95) 0%, rgba(0, 114, 255, 0.95) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.color2 {
  background: rgba(0, 114, 255, 0.95);
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(183, 4, 199, 0.95) 0%, rgba(82, 11, 248, 0.95) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(183, 4, 199, 0.95) 0% rgba(82, 11, 248, 0.95) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(183, 4, 199, 0.95) 0%, rgba(82, 11, 248, 0.95) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.color3 {
  background: rgba(0, 114, 255, 0.95);
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255, 147, 52, 0.95) 0%, rgba(226, 70, 107, 0.95) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 147, 52, 0.95) 0% rgba(226, 70, 107, 0.95) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 147, 52, 0.95) 0%, rgba(226, 70, 107, 0.95) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.color4 {
  background: rgba(0, 114, 255, 0.95);
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(231, 76, 60, 0.95) 0%, rgba(255, 51, 102, 0.95) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(231, 76, 60, 0.95) 0% rgba(255, 51, 102, 0.95) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(231, 76, 60, 0.95) 0%, rgba(255, 51, 102, 0.95) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
main {
  background: gray;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.title {
  animation: flow 4s infinite;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 5%;
}
.title img {
  display: inline-block;
  width: 15%;
}
.title p {
  margin-left: 15px;
  display: inline-block;
  font-family: 'Pacifico', cursive;
  color: white;
  font-size: 9vw;
  font-weight: 300;
}
.particles-js-canvas-el {
  height: 100vh !important;
}
.heating {
  display: none;
}
.heater-icon {
  animation: chicky 2s infinite;
  position: absolute;
  width: 150px;
  bottom: 50px;
  right: 50px;
}
.temp-container {
  position: absolute;
  bottom: 150px;
  color: white;
  left: 100px;
  font-family: 'Pacifico', cursive;
  font-weight: 500;
  font-size: 35px;
}
.distance {
  position: absolute;
  bottom: 150px;
  color: white;
  left: 100px;
  font-family: 'Pacifico', cursive;
  font-weight: 500;
  font-size: 35px;
  bottom: 100px;
}
